/** Add here css rules for page. */

BODY	{
	background: #BDB8BE;
}


H1 {
	font-size : 32px;
	font-family : Arial Black, Impact, Arial Rounded MT Bold, Arial, Helvetica, Verdana, sans serif;
	font-weight : 500;
	color : #A52316;
	line-height : 120%;
	margin-top : 6px;
	margin-bottom : 4px;
 /* text-align: center;*/
}


/* Brodtext */
.txt {
	font-size : 15px;
	font-family : Palatino Linotype, Georgia, Garamond, AGaramond, Schoolbook, serif;
	color : Black;
	line-height : 140%;
	text-align : justify;
}

.txt P {
	margin-top : 6px;
	margin-bottom : 10px;
}


/* mini */
.mini	{
	font-size: 12px;
	font-family: Palatino Linotype, Georgia, serif;
	font-weight: 500;
	font-style: normal;
	color: #000000;
	line-height: 110%;
}

.mini P {
	margin-top : 3px;
	margin-bottom : 3px;
}

.links A	{
	text-decoration : none;
	color: #A52316;
}

.links A:hover {
	background: #A52316;
	color: #FFFFFF;
}


/** Add here css rules for the tarot application. */
.tdLink	{
	text-align: center;
	min-width: 140px;
	background: #FFFFFF;
	color: #A52316;
}

.tdLink:hover {
	cursor: pointer;
	background: #A52316;
	color: #FFFFFF;
}

.tdEmptyLink {
	min-width: 140px;
}

.tdText {
	min-width: 225px;
}

.resultsTable {
	border-collapse:collapse;
}

.resultsTable td {
	border: 1px solid black;
}

.cardBorderPanel {
  background-color: white;
}

.cardImage {
	display: block;
}